li
  a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Layout')
    i.eos-icons.eos-18
      | library_books
    | Installation instructions
li
  a.dropdown-item(href='https://xd.adobe.com/view/ba8f1a64-579e-4c7d-44f1-0166976dc1b4-ccbe/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/main-layout/layout.xd', data-event-category='Dropdown link', data-event-action='XD file', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | file_download
    | Adobe XD file
li
  a.dropdown-item(href='/examples/demo-layout.html', data-event-category='Dropdown link', data-event-action='Demo page link', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | open_in_new
    | Demo page
