/* Dropdown dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/dropdown/dark-theme.variables.scss */

.dark-theme .dropdown-menu.show {
  background-color: $eos-dark-dropdown-bg-color;
  border-color: $eos-dark-dropdown-border-color;

  .dropdown-item:hover {
    background-color: $eos-dark-dropdown-hover-color;
    text-decoration: none;
  }
}
