/* Smart specs
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/smart-specs/smart-specs.variables.scss */
.smart-specs {
  border: 1px solid $smart-specs-border;
  margin: $smart-specs-margin;
  padding: $smart-specs-padding;

  .alert {
    position: relative;
  }
}

// the code wrapper
.smart-specs-code {
  display: flex;
  margin-left: auto;
  width: $smart-specs-code-w;

  &.full {
    width: 100%;
  }
}

// CSS properties
.smart-specs-props {

  li {
    padding: 0;
  }
}

.smart-specs-box {
  font-size: $smart-specs-box-font;
  font-weight: bold;
  margin-left: auto;
  position: relative;
  width: $smart-specs-box-w;

  .top,
  .right,
  .bottom,
  .left,
  .title {
    position: absolute;
  }
}

@media screen and (max-width: $eos-sd-min) {
  .smart-specs-box {
    margin: auto;
  }
}

.smart-specs-margin {
  background: $smart-specs-margin-bg;
  border: 1px dashed $smart-specs-margin-border;
  padding: $smart-specs-margin-padding;

  > .title {
    left: $smart-specs-margin-title-l;
    top: 0;
  }

  .top {
    left: $smart-specs-margin-top-l;
    top: $smart-specs-margin-top-t;
  }

  .right {
    right: $smart-specs-margin-right-r;
    top: $smart-specs-margin-right-t;
  }

  .bottom {
    bottom: $smart-specs-margin-bottom-b;
    left: $smart-specs-margin-bottom-l;
  }

  .left {
    left: $smart-specs-margin-left-l;
    top: $smart-specs-margin-left-t;
  }
}

.smart-specs-border {
  border: 3px solid $smart-specs-border-b;
  color: $smart-specs-border-text;

  > div:not(:last-of-type) {
    background: $smart-specs-border-b;
    border-radius: $smart-specs-border-radius;
    line-height: 1;
    min-width: $smart-specs-border-w;
    padding: $smart-specs-border-p;
    text-align: center;
  }

  > div.title {
    border-radius: 0;
  }

  .top {
    left: $smart-specs-border-top-l;
    top: $smart-specs-border-top-t;
  }

  .right {
    right: $smart-specs-border-right-r;
    top: $smart-specs-border-right-t;
  }

  .bottom {
    bottom: $smart-specs-border-bottom-b;
    left: $smart-specs-border-bottom-l;
  }

  .left {
    left: $smart-specs-border-left-l;
    top: $smart-specs-border-left-t;
  }
}

.smart-specs-padding {
  background: $smart-specs-padding-bg;
  color: $smart-specs-padding-text;
  padding: $smart-specs-padding-p;

  > .title {
    left: $smart-specs-padding-title-l;
    top: $smart-specs-padding-title-t;
  }

  .top {
    left: $smart-specs-padding-top-l;
    top: $smart-specs-padding-top-t;
  }

  .right {
    right: $smart-specs-padding-right-r;
    top: $smart-specs-padding-right-t;
  }

  .bottom {
    bottom: $smart-specs-padding-bottom-b;
    left: $smart-specs-padding-bottom-l;
  }

  .left {
    left: $smart-specs-padding-left-l;
    top: $smart-specs-padding-left-t;
  }
}
