extends ../layouts/layout-main

block content
  .container.js-successStoriesController
    section
      .row
        .col-md-12
          h1
            | Success stories
          p.subheadline
            | The following are products that have successfully implemented SUSE Product Branding following EOS. We find
            | inspiration and motivation in seeing the product portfolio come together as one SUSE brand, and we hope that so do you.
    hr
    article
      section.margin-top-xl
        .row.js-success-stories-list.success-stories-list
          .col-md-6.success-story.margin-bottom-l.js-success-stories-item
            .card
              img.js-success-stories-image.card-img-top
              .card-body
                h5.js-success-stories-title.card-title
                p.js-success-stories-description.card-text
          .col-md-6.margin-bottom-l.success-story.success-story-cta
            .card
              .card-body
                img.margin-bottom-l(src='/images/success-stories/post-story.svg', alt='Trophy image representing success stories')
                button.btn.btn-primary.btn-block.js-success-story-tool-open
                  | Tell us your story
