extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Icons
          p.subheadline
            | Using icons consistently across products reduces the
            | learning curve and reinforces brand awareness.
        .col-md-3
          a.btn.btn-secondary.margin-top-m.float-right(href='https://icons.eosdesignsystem.com/docs', data-event-category='External link', data-event-action='EOS icons docs', data-event-label='Icons', target='_blank', rel='noreferrer nonopener')
            i.eos-icons.eos-18
              | open_in_new
            |  Get eos-icons
    hr
    article
      h2
        | 3 simple rules to live by
      .row.text-center.icon-guides-rules
        .col-md-4
          img(src='/images/icons/icon-rules-1.svg', alt='1 set to fit all products')
        .col-md-4
          img(src='/images/icons/icon-rules-2.svg', alt='4 icon sizes')
        .col-md-4
          img(src='/images/icons/icon-rules-3.svg', alt='2 icon colors')
      section.margin-top-xxl
        h3.anchor
          a#description(href='#eos-icons')
            i.eos-icons.eos-18
              | link
          | EOS icons
        p
          | EOS icons is a handcrafted iconic font designed using the
          | #[a(href='https://material.io/design/iconography/#icons-system-icons', data-event-category='External link', data-event-action='Material design link', data-event-label='Icons', target='_blank', rel='noreferrer nonopener') Material Design]
          | iconography guidelines.
          | It has been designed to cover the needs of SUSE's cutting edge software solutions. It uses ligatures and is downloadable as an open source project in #[a(href='https://gitlab.com/SUSE-UIUX/eos-icons', data-event-category='External link', data-event-action='EOS icons Gitlab', data-event-label='Icons', target='_blank', rel='noreferrer nonopener')]Gitlab.
          | There is a comprehensive #[a(href='https://icons.eosdesignsystem.com/cheatsheet', data-event-category='External link', data-event-action='EOS icons cheatsheet', data-event-label='Icons', target='_blank', rel='noreferrer nonopener') cheatsheet]
          | available to easily find and select icons with its ligature for later implementation.

      section.margin-top-xxl
        h3.anchor
          a#icon-sizes(href='#icon-sizes')
            i.eos-icons.eos-18
              | link
          | Icon sizes
        .d-flex.justify-content-center.margin-bottom-xl
          .icon-badge.d-flex.flex-column.justify-content-center.align-items-center
            i.eos-icons.eos-48
              | master
            | 48px
          .icon-badge.d-flex.flex-column.justify-content-center.align-items-center
            i.eos-icons.eos-36
              | master
            | 36px
          .icon-badge.d-flex.flex-column.justify-content-center.align-items-center
            i.eos-icons.eos-24
              | master
            | 24px
          .icon-badge.d-flex.flex-column.justify-content-center.align-items-center
            i.eos-icons.eos-18
              | master
            | 18px
        p
          | EOS icons have been designed to work and look
          | perfect at: 18px, 24px, 36px, and 48px. These are the recommended
          | sizes for icons in all #{config.brand} UIs.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#icon-sizes-examples', aria-controls='icon-sizes-examples', role='tab', data-toggle='tab')
              | Implementation examples
          li.nav-item(role='presentation')
            a.nav-link(href='#icon-sizes-css-snippet', aria-controls='icon-sizes-css-snippet', role='tab', data-toggle='tab')
              | SCSS code snippet
        .tab-content
          #icon-sizes-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                i.eos-icons.eos-18
                  | face
                i.eos-icons.eos-24
                  | face
                i.eos-icons.eos-36
                  | face
                i.eos-icons.eos-48
                  | face
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <i class='eos-icons eos-18'>face</i>
                    | <i class='eos-icons eos-24'>face</i>
                    | <i class='eos-icons eos-36'>face</i>
                    | <i class='eos-icons eos-48'>face</i>
                  code.js-code-render.language-html
          #icon-sizes-css-snippet.tab-pane(role='tabpanel')
            .css-snippet-container
              .scss-snippet-btns
                i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                  | content_copy
                a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/elements/icons/icons.variables.scss', target='_blank', rel='noreferrer nonopener', data-toggle='tooltip', title='Get SCSS variables')
                  i.eos-icons.eos-18
                    | launch
              pre.js-snippet-code
                template.js-code-template
                  | /* Sizing variables */
                  | $eos-18: 18px;
                  | $eos-24: 24px;
                  | $eos-36: 36px;
                  | $eos-48: 48px;
                  | /* Rules for sizing the icon. */
                  | .eos-18 { font-size: $eos-18; }
                  | .eos-24 { font-size: $eos-24; }
                  | .eos-36 { font-size: $eos-36; }
                  | .eos-48 { font-size: $eos-48; }
                code.js-code-render.language-scss
      section.margin-top-xxl
        h3.anchor
          a#description(href='#icon-colors')
            i.eos-icons.eos-18
              | link
          | Icon colors
        .d-flex.justify-content-center.margin-bottom-xl
          .copy-icon-color.dark.js-cc(data-clipboard-text='#FFFFFF // $eos-bc-white')
            span
              | #FFFFFF
            i.eos-icons.eos-18
              | content_copy
          .icon-badge.d-flex.flex-column.justify-content-center.align-items-center
            i.eos-icons.eos-48
              | critical_bug
          .icon-badge.light.d-flex.flex-column.justify-content-center.align-items-center
            i.eos-icons.eos-48
              | critical_bug
          .copy-icon-color.light.js-cc(data-clipboard-text='#141823 // $eos-bc-gray-1000')
            span
              | #141823
            i.eos-icons.eos-18
              | content_copy
        p
          | Icon usage in  #{config.brand} UIs comes down to chosing between 2 colors, dark gray
          | and white, when placed on a light or dark background, respectively.
        p
          | For inactive states, icons are slightly transparent.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#icon-colors-examples', aria-controls='icon-colors-examples', role='tab', data-toggle='tab')
              | Implementation examples
        .tab-content
          #icon-colors-examples.tab-pane.active(role='tabpanel')
            .implementation-example
              .d-flex
                .d-flex.flex-column.justify-content-center.align-items-center.margin-right-xl
                  i.eos-icons.eos-dark.icon-reset
                    | face
                  small
                    | Dark icon
                .d-flex.flex-column.justify-content-center.align-items-center.margin-right-xl
                  .icon-colors.result.dark-bg
                    i.eos-icons.eos-light.icon-reset
                      | face
                  small
                    | Light icon
                .d-flex.flex-column.justify-content-center.align-items-center.margin-right-xl
                  .icon-colors.result.dark-bg
                    i.eos-icons.eos-light.eos-inactive.icon-reset
                      | face
                  small
                    | Light inactive
                .d-flex.flex-column.justify-content-center.align-items-center
                  i.eos-icons.eos-dark.eos-inactive.icon-reset
                    | face
                  small
                    | Dark inactive
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <i class='eos-icons eos-dark'>face</i>
                    | <i class='eos-icons eos-light'>face</i>
                    | <i class='eos-icons eos-light eos-inactive'>face</i>
                    | <i class='eos-icons eos-dark eos-inactive'>face</i>
                  code.js-code-render.language-html
        p
          small
            | * Note that by default all icons will inherit the text color of
            | its parent container (#[code $eos-bc-gray-1000] being the default text color).
            | More info at: #[a(href='/colors', data-event-category='Internal link', data-event-action='color guide', data-event-label='Icons') color guide.]
        p
          | #[small * The usage of #[code .eos-dark] and #[code .eos-light] is only relevant in special use cases.]
  .articles-gallery
    .container
      .row
        .col-sm-8
          h3.anchor.title-no-margings
            a#other-articles(href='#other-articles')
              i.eos-icons.eos-18
                | link
            | Other articles in this guide
        .col-sm-4.text-right
          .ag-arrow.js-ag-before.js-tooltip(data-toggle='tooltip', title='Previous')
            i.eos-icons
              | keyboard_arrow_left
          .ag-arrow.js-ag-next.js-tooltip(data-toggle='tooltip', title='Next')
            i.eos-icons
              | keyboard_arrow_right
      .ag-carousel.js-ag-carousel
        a.card.card-horizontal(href='/icons/icon-ux')
          .card-content
            div
              h4
                | Icon UX
              p
                | A guide to using icons consistently inside the main UI elements.
              br
          span.card-icon
            i.eos-icons.eos-18
              | library_books
          footer
            | Read now
        a.card.card-horizontal(href='/icons/logo-icons-set')
          .card-content
            div
              h4
                | Logo icon set
              p
                | Third-party logos which integrate consistently with the EOS icons set.
              br
          span.card-icon
            i.eos-icons.eos-18
              | library_books
          footer
            | Read now
        a.card.card-horizontal.js-feature-flag(href='/icons/eos-icons', data-feature-flag= docEnabled['/icons/eos-icons'])
          .card-content
            div
              h4
                | EOS icons
              p
                | Find the use cases for using the most popular EOS icons in #{config.brand} interfaces.
          span.card-icon
            i.eos-icons.eos-18
              | library_books
          footer
            | Read now
