extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Section alerts
          p.subheadline
            | Section alerts are used to inform the user of important information related to the current section.
            | They include a subject title and message to inform the user of details.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.eos-18 keyboard_arrow_down] Alerts assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article
      section.margin-top-xxl.section-alerts-demo
        h3.anchor
          a#description(href='#description')
            i.eos-icons.eos-18
              | link
          | Description
        ul.list-no-padding
          li
            | They may be triggered by a user interaction or action or can be a system alert related to the section at hand.
          li
            | Section alerts appear above the area or form they relate to.
          li
            | Use a subject title and message to inform the user of details.
        .figure-wrap
          figure
            img(src='/images/alerts/section-alert-position.svg', alt='Section alert position')
        h3.anchor.margin-top-xxl
          a#states-types(href='#states-types')
            i.eos-icons.eos-18
              | link
          | Different states and types
        h4.margin-top-m
          | Success
        p
          | Success alerts should be used when an action was performed successfully.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#alert-success-example', aria-controls='alert-success-example', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #alert-success-example.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                .alert.alert-section.alert-success
                  i.eos-icons.eos-18.alert-icon
                    | check_circle
                  .alert-body
                    .alert-title
                      | Your system has been updated
                    | The changes may take take a few minutes to impact your services.
                  a.close(data-dismiss='alert')
                    i.eos-icons.eos-18
                      | close
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <div class='alert alert-section alert-success'>
                    |   <i class='eos-icons eos-18 alert-icon'>check_circle</i>
                    |   <div class='alert-body'>
                    |     <div class='alert-title'>Your system has been updated</div>
                    |     The changes may take take a few minutes to impact your services.
                    |   </div>
                    |   <a class='close' data-dismiss='alert'><i class='eos-icons eos-18'>close</i></a>
                    | </div>
                  code.js-code-render.language-html
        .margin-top-xxl
          h4.margin-top-m
            | Info
          p
            | Info alerts should be used when there are tips or information that a user can benefit from.
          ul.nav.nav-pills.nav-fill(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(href='#alert-info-example', aria-controls='alert-info-example', role='tab', data-toggle='tab')
                | Bootstrap 4 implementation examples
          .tab-content
            #alert-info-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-section.alert-info
                    i.eos-icons.eos-18.alert-icon
                      | info
                    .alert-body
                      .alert-title
                        | New updates available
                      | A new system update is available for some of your systems.
                      | Go to the #[a documentation page]
                      | to learn more about this new update and how to install it.
                    a.close(data-dismiss='alert')
                      i.eos-icons.eos-18
                        | close
                .css-snippet-container
                  .scss-snippet-btns
                    i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                      | content_copy
                  pre.js-snippet-code
                    template.js-code-template
                      | <div class='alert alert-section alert-info'>
                      |   <i class='eos-icons eos-18 alert-icon'>info</i>
                      |   <div class='alert-body'>
                      |     <div class='alert-title'>New updates available</div>
                      |     A new system update is available for some of your systems. Go to the <a>documentation page</a> to learn more about this new update and how to install it.
                      |   </div>
                      |   <a class='close' data-dismiss='alert'><i class='eos-icons eos-18'>close</i></a>
                      | </div>
                    code.js-code-render.language-html
        .margin-top-xxl
          h4.margin-top-m
            | Warning
          p
            | Warning alerts should be used for messages that likely require attention.
          ul.nav.nav-pills.nav-fill(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(href='#alert-warning-example', aria-controls='alert-warning-example', role='tab', data-toggle='tab')
                | Bootstrap 4 implementation examples
          .tab-content
            #alert-warning-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-section.alert-warning
                    i.eos-icons.eos-18.alert-icon
                      | warning
                    .alert-body
                      .alert-title
                        | Subscriptions about to expire
                      | 7 of your systems’ subscriptions are about to expire in the next 30 days. To avoid any service interruption go to the
                      | #[a subscriptions page] and renew the subscriptions.
                    a.close(data-dismiss='alert')
                      i.eos-icons.eos-18
                        | close
                .css-snippet-container
                  .scss-snippet-btns
                    i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                      | content_copy
                  pre.js-snippet-code
                    template.js-code-template
                      | <div class='alert alert-section alert-warning'>
                      |   <i class='eos-icons eos-18 alert-icon'>warning</i>
                      |   <div class='alert-body'>
                      |     <div class='alert-title'>Subscriptions about to expire</div>
                      |     7 of your systems’ subscriptions are about to expire in the next 30 days. To avoid any service interruption go to the <a>subscriptions page</a> and renew the subscriptions.
                      |   </div>
                      |   <a class='close' data-dismiss='alert'><i class='eos-icons eos-18'>close</i></a>
                      | </div>
                    code.js-code-render.language-html
        .margin-top-xxl
          h4.margin-top-m
            | Danger
          p
            | Danger alerts should be used when the system has failed to perform an action, or when the user has made an error.
          strong
            | * Never include a close icon or link to dismiss the action. In cases when alert should be dismissible use warning alert instead.

          ul.nav.nav-pills.nav-fill(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(href='#alert-danger-example', aria-controls='alert-danger-example', role='tab', data-toggle='tab')
                | Bootstrap 4 implementation examples
          .tab-content
            #alert-danger-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-section.alert-danger
                    i.eos-icons.eos-18.alert-icon
                      | error
                    .alert-body
                      .alert-title
                        | Expired subscriptions
                      | 2 of your systems’ subscriptions have expired and you can no longer access the systems until you renew your subscriptions. To stop seeing this message
                      | #[a renew your subscriptions] or delete the systems from your organization.
                .css-snippet-container
                  .scss-snippet-btns
                    i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                      | content_copy
                  pre.js-snippet-code
                    template.js-code-template
                      | <div class='alert alert-section alert-danger'>
                      |   <i class='eos-icons eos-18 alert-icon'>error</i>
                      |   <div class='alert-body'>
                      |     <div class='alert-title'>Expired subscriptions</div>
                      |     2 of your systems’ subscriptions have expired and you can no longer access the systems until you renew your subscriptions. To stop seeing this message <a>renew your subscriptions</a> or delete the systems from your organization.
                      |   </div>
                      | </div>
                    code.js-code-render.language-html
