.modal-custom {
  .modal-header {
    border: transparent;
    padding: $eos-custom-modal-header-padding;
  }

  .modal-body {
    padding: $eos-custom-modal-body-padding;
  }

  .modal-content {
    background-color: $eos-custom-modal-content-bg-color;
    background-image: $eos-custom-modal-content-background;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    color: $eos-custom-modal-content-color;
    font-family: $eos-custom-modal-font-family;
  }

  .modal-description-column {
    padding: $eos-custom-modal-description-col-padding;
    padding-top: 0;
  }

  .col-4 {
    background-image: $eos-custom-modal-right-illustration;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  h2 {
    color: $eos-custom-modal-h2-color;
    font-size: $eos-custom-modal-h2-font-size;
    font-weight: 500;
    margin-bottom: $eos-custom-modal-h2-margins-bottom;
  }

  i {
    color: $eos-custom-modal-close-button-color;
  }

  p {

    font-size: $eos-custom-modal-p-font-size;
    font-weight: 400;
  }

  .btn {
    border-radius: $eos-custom-modal-cta-button-borders;
    color: $eos-custom-modal-btn-color;
    font-weight: 400;
    margin-bottom: $eos-custom-modal-margin-bottom;
  }
}
