/* Success stories
  ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
/* Spacing variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-success-story-card-height: 410px;
$eos-success-story-card-bg: $eos-bc-gray-50;
$eos-success-story-card-body-w: 231px;
