/* Checkbox component
   ========================================================================== */

.eos-checkbox {
  opacity: 0;
  position: absolute;
  z-index: $eos-checkbox-zindex;
}

.eos-checkbox ~ label {
  margin-left: $eos-checkbox-label-margin;

  &::before,
  &::after {
    content: '';
    display: block;
    height: $eos-checkbox-height;
    left: 0;
    position: absolute;
    top: $eos-checkbox-top;
    width: $eos-checkbox-width;
  }

  &::before {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    border: 1px solid $eos-checkbox-border;
    border-radius: $eos-checkbox-border-radius;
    pointer-events: none;
    user-select: none;
  }

  &::after {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    content: '';
  }
}

// focus state
.eos-checkbox:focus ~ .form-check-label::before {
  box-shadow: 0px 0px 4px $eos-checkbox-focus;
}

// checked
.eos-checkbox:checked ~ .form-check-label::before {
  background-color: $eos-checkbox-checked;
  border: 0;
}

.eos-checkbox:checked ~ .form-check-label::after {
  background-image: $eos-checkbox-bg;
  background-position: $eos-checkbox-bg-position;
  background-size: $eos-checkbox-bg-size;
}

// disabled state
.eos-checkbox:disabled ~ .form-check-label {
  color: $eos-checkbox-disabled;

  &::before  {
    background-color: $eos-checkbox-disabled;
    border: 1px solid $eos-checkbox-disabled;
  }
}
