/* How to
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/usage-example/usage-example.variables.scss */
.usage-example {
  display: flex;
  flex-direction: column;
  margin-top: $eos-usage-example-margin-top;
  max-width: $eos-usage-example-max-width;

  p {
    margin: $eos-usage-example-p-size 0;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      margin-top: $eos-usage-example-title-p-margin-top;
    }
  }

  .wrap {
    display: flex;
    justify-content: flex-start;

    a {
      cursor: pointer;
    }

    .wrap-content {
      margin: 0;
      padding: $eos-usage-example-wrap-p-padding;
    }

  }
}
