/* Tabs
   ========================================================================== */
/**
* The following rules override the default look of Bootstrap's tabs
*
* Variables file: assets/stylesheets/eos-custom-components/tabs/tabs.variables.scss
*/
.tab-content {
  border-bottom: 1px solid $eos-tabs-border-color;
  border-left: 1px solid $eos-tabs-border-color;
  border-right: 1px solid $eos-tabs-border-color;
  display: block;
  padding: $eos-tabs-content-padding;
}

.nav {
  border-left: 1px solid $eos-tabs-border-color;
  border-right: 1px solid $eos-tabs-border-color;
  margin-top: $eos-tabs-margin-top;

  li {
    background: $eos-tabs-inactive-bg;
    padding: 0;

    .nav-link {
      border-radius: 0;
      border-top: 3px solid transparent;
      color: $eos-tabs-text-color;
      line-height: $eos-tabs-li-line-height;

      &.active {
        background: $eos-tabs-active-bg;
        border-top: 3px solid $eos-tabs-active-border-color;
        color: $eos-tabs-text-color;
      }
    }
  }
}
