/* Typography page
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/typography/typography.variables.scss */

.design-spec-file {
  box-shadow: $eos-typo-type-scale-container-box-shadow;
  display: inline-block;
  margin-top: $eos-typo-design-spec-file-margin-top;
  padding: $eos-typo-design-spec-file-padding;
}

article.typography {
  h3 {
    margin-bottom: $eos-typo-article-h3-margin-bottom;
  }

  .no-top-padding-list-style li {
    padding-top: 0;
  }

  .scss-snippet-btns {
    margin-top: $eos-typo-scss-snippet-btns-margin-top;
  }

  .table {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin: 0;
    }

    tr {
      height: 80px;
    }
  }
}

.primary-alternative-block {

  h4 {
    margin-bottom: $eos-typo-pa-block-h4-margin-bottom;
  }

  p {
    margin-bottom: $eos-typo-pa-block-p-margin;
    margin-top: $eos-typo-pa-block-p-margin;
  }
}

// Work Sans examples
.work-sans-example {
  font-family: $eos-font-type-headlines;

  &-light {
    font-weight: $eos-font-weight-light-base;
  }

  &-normal {
    font-weight: $eos-font-weight-normal-base;
  }

  &-strong {
    strong {
      font-weight: $eos-font-weight-headers-bold;
    }
  }
}
