/* Images
   ========================================================================== */
// overwrite Boostrap's responsive class display:block property
.img-responsive-v-centered {
  display: inline-block;
}

// center image horizontally
.image-centered-horizontally {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
