/* Colour usage page
   ========================================================================== */
/* Extends usage component found in assets/stylesheets/eos-custom-components/usage-example/ */
/* Variables file: assets/stylesheets/eos-pages/color-usage/color-usage.variables.scss */
.usage-example {

  .wrap {

    /* Text and background colors */
    &.dark-gray-white {
      background-color: $eos-color-usage-dark-gray-white-bg;
      color: $eos-color-usage-dark-gray-white-text;
    }

    &.white-gray {
      border: 1px solid $eos-color-usage-white-gray-border;
      color: $eos-color-usage-white-gray-text;
    }

    /* Text color over backgrounds */
    &.white-violet {
      background-color: $eos-white-violet-bg;
      color: $eos-white-violet-text;
    }

    &.black-cerulean {
      background-color: $eos-black-cerulean-bg;
      color: $eos-black-cerulean-text;
    }

  }
}
